@model AZRM2023v1.Models.SWD2.Grafik



@{
    ViewData["Title"] = "Dodaj do grafiku";
}

<h1>Dodaj do Grafiku AZRM</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGrafik" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idskład" class="control-label"></label>
                <input asp-for="Idskład" class="form-control" />
                <span asp-validation-for="Idskład" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dzieńdyżuru" class="control-label"></label>
                <input asp-for="Dzieńdyżuru" class="form-control" />
                <span asp-validation-for="Dzieńdyżuru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zmiana" class="control-label"></label>
                <input asp-for="Zmiana" class="form-control" />
                <span asp-validation-for="Zmiana" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Grafik">Wróć do Grafiku</a>
</div>



